img {
    width: 400px;
}
body {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/81KL2fR-PiL._AC_SL1200_.jpg");
    background-size: 100%;
    color:white;
}
.title {
    text-align: center;
    color:white;
}
h1 {
    color:blue;
    text-align:center;
}
.content1 {
    text-align:center;
    background: red;
    width:600px;
}
.committees {
    background: white;
    color:black;
    width:600px;

}
.links {
    background:blue;
    width:600px;
    height:250px;
}
.linksHeader {
    color:white;
}
.linkButtons {
    background: white;
    color:red;
    border: 4px solid red;
    padding:6px;
    text-align:center;
    border-radius:12px;
    margin-left:250px;
    text-decoration: none;
}
.navBar {
    background-color: white;
    text-align: center;
    border-radius: 6px;
    padding: 1%;
}
.navBarBtn {
    background-color: blue;
    color: white;
    padding: 0.5%;
    margin: 1%;
    border-radius: 4px;
    /* This will take all link unlines away */
    text-decoration: none;
}
.navBarBtn:hover {
    background-color: blue;
    color: red;
    padding: 0.5%;
    margin: 1%;
    border-radius: 4px;
    /* This will take all link unlines away */
    text-decoration: none;
}